In [2]:
import os
import pickle

import pandas as pd

from foreanalyzer._internal_utils import OUTER_FOLDER_PATH

In [86]:
path1 = os.path.join(OUTER_FOLDER_PATH, 'algo_analysis', 'v3', 'EURUSD', '10000000')
file_path1_1 = os.path.join(path1, 'algo.pickle')
file_path1_2 = os.path.join(path1, 'profit_dataframe.pickle')
path2 = os.path.join(OUTER_FOLDER_PATH, 'algo_analysis', 'v2', 'EURUSD')
file_path2_1 = os.path.join(path2, 'algo.pickle')
file_path2_2 = os.path.join(path2, 'profit_dataframe.pickle')
path3 = os.path.join(OUTER_FOLDER_PATH, 'algo_analysis', 'v4', 'EURUSD')
file_path3_1 = os.path.join(path3, 'algo.pickle')
file_path3_2 = os.path.join(path3, 'profit_dataframe.pickle')

In [65]:
# profit analysis for 10000000 - a10482e
with open(file_path1_2, 'rb') as f:
    data1_2 = pickle.load(f)

In [66]:
# monthly income analysis
data1_2['profit'].resample('1M').sum()

open_datetime
2001-01-31    -130.91
2001-02-28     267.48
2001-03-31     -41.43
2001-04-30      52.84
2001-05-31     -40.60
2001-06-30      -4.90
2001-07-31     -92.69
2001-08-31    -182.93
2001-09-30    -288.61
2001-10-31      68.32
2001-11-30     147.99
2001-12-31     564.29
2002-01-31     607.37
2002-02-28     334.12
2002-03-31     370.74
2002-04-30   -3302.03
Freq: M, Name: profit, dtype: float64

In [67]:
# profit analysis for 1000000 - f77f08c
with open(file_path2_2, 'rb') as f:
    data2_2 = pickle.load(f)

In [68]:
# monthly income analysis
data2_2['profit'].resample('1M').sum()

open_datetime
2016-02-29   -105.68
2016-03-31    307.32
2016-04-30      0.81
2016-05-31   -122.78
2016-06-30    -14.62
2016-07-31     87.82
2016-08-31    -47.97
2016-09-30     62.60
2016-10-31     65.05
2016-11-30     98.42
2016-12-31     91.05
2017-01-31     44.71
2017-02-28    288.67
2017-03-31   -178.15
2017-04-30     94.32
2017-05-31   -432.65
2017-06-30    147.99
2017-07-31   -161.07
2017-08-31     60.16
2017-09-30    -54.47
2017-10-31    -82.10
2017-11-30    151.26
2017-12-31     81.30
2018-01-31   -328.60
2018-02-28     -8.92
2018-03-31    -39.86
2018-04-30    106.52
2018-05-31    -79.67
2018-06-30    -59.35
2018-07-31    221.98
2018-08-31   -478.15
2018-09-30    231.74
2018-10-31    322.84
Freq: M, Name: profit, dtype: float64

In [71]:
data2_2[(data2_2.index.month == 7) & (data2_2.index.year == 2018)]

,close_datetime,mode,open_price,close_price,profit,balance
open_datetime,,,,,,
2018-07-03 08:00:00,2018-07-03 16:18:00,1,1.1666,1.1643,18.70,990.81
2018-07-04 01:00:00,2018-07-04 07:44:00,1,1.1669,1.1658,8.95,999.76
2018-07-04 10:00:00,2018-07-04 16:20:00,0,1.1634,1.1658,19.51,1019.27
2018-07-05 06:00:00,2018-07-05 18:00:00,1,1.1692,1.1681,8.95,1028.22
2018-07-06 07:00:00,2018-07-09 19:00:00,1,1.1720,1.1747,-21.96,1006.26
2018-07-09 06:00:00,2018-07-09 19:00:00,1,1.1768,1.1747,17.08,1023.34
2018-07-10 09:00:00,2018-07-10 15:44:00,0,1.1725,1.1735,8.13,1031.47
2018-07-11 09:00:00,2018-07-11 12:15:00,0,1.1707,1.1734,21.95,1053.42
2018-07-12 12:00:00,2018-07-12 12:40:00,0,1.1651,1.1677,21.14,1074.56
2018-07-13 07:00:00,2018-07-13 14:24:00,0,1.1644,1.1652,6.50,1081.06
2018-07-16 06:00:00,2018-07-17 00:43:00,1,1.1701,1.1705,-3.25,1077.81
2018-07-17 07:00:00,2018-07-17 11:15:00,1,1.1732,1.1712,16.26,1094.07
2018-07-17 14:00:00,2018-07-18 14:33:00,0,1.1684,1.1642,-34.15,1059.92
2018-07-18 08:00:00,2018-07-18 14:33:00,0,1.1622,1.1642,16.26,1076.18
2018-07-19 08:00:00,2018-07-19 17:03:00,0,1.1606,1.1627,17.07,1093.25
2018-07-20 13:00:00,2018-07-23 19:00:00,1,1.1711,1.1688,18.70,1111.95
2018-07-23 00:00:00,2018-07-23 19:00:00,1,1.1739,1.1688,41.48,1153.43
2018-07-24 07:00:00,2018-07-24 07:31:00,0,1.1658,1.1694,29.27,1182.70
2018-07-24 11:00:00,2018-07-24 12:45:00,1,1.1711,1.1689,17.89,1200.59
2018-07-25 10:00:00,2018-07-25 12:25:00,1,1.1702,1.1684,14.64,1215.23
2018-07-25 20:00:00,2018-07-26 08:29:00,1,1.1729,1.1714,12.20,1227.43
2018-07-26 13:00:00,2018-07-27 07:21:00,0,1.1693,1.1654,-31.71,1195.72
2018-07-27 09:00:00,2018-07-27 13:07:00,0,1.1626,1.1643,13.82,1209.54
2018-07-30 08:00:00,2018-07-31 04:06:00,1,1.1667,1.1700,-26.84,1182.70
2018-07-31 09:00:00,2018-07-31 13:11:00,1,1.1724,1.1710,11.39,1194.09

In [85]:
# calculate gain profit to 20 lost in price diff
data2_2['diff'] = abs(data2_2['close_price'] - data2_2['open_price'])
profit_20 = data2_2[round(data2_2['profit']) == 20]
fixed = profit_20['diff'].mean()
perc_of_price = (profit_20['diff'] / ((profit_20['close_price'] + profit_20['open_price']) / 2)).mean()
print(f"fixed: {round(fixed, 4)} - perc: {perc_of_price * 100:.2f}%")

fixed: 0.0024 - perc: 0.21%

In [88]:
# profit analysis for 1000000 - v4
with open(file_path3_2, 'rb') as f:
    data3_2 = pickle.load(f)

In [89]:
data3_2['profit'].min()

-205.95

In [4]:
path = os.path.join(OUTER_FOLDER_PATH)
file_path = os.path.join(path, 'profit_dataframe.pickle')
with open(file_path, 'rb') as f:
    data = pickle.load(f)

EOFError: Ran out of input